{% extends 'base.html' %}
{% load static %}

  {% block content %}
  
  <!--======= SUB BANNER =========-->
  <section class="sub-bnr" style="background-image: url('{{ product.banner_image.url }}');" data-stellar-background-ratio="0.5">
    <div class="position-center-center">
        <div class="container">
            <h4>{{ product.title }}</h4>
            <p>{{ product.small_description }}</p>
        </div>
    </div>
</section>
  
  <!-- Content -->
  <div id="content"> 
    
    <!-- Popular Products -->
    <section class="padding-top-100 padding-bottom-100">
      <div class="container"> 
        
        <!-- SHOP DETAIL -->
        <div class="shop-detail">
          <div class="row"> 
            
            <!-- Popular Images Slider -->
            <div class="col-md-7"> 
              
              <!-- Images Slider -->
              <div class="images-slider">
                <ul class="slides">
                  <li data-thumb="{{ product.cover_image.url }}"> <img class="img-responsive" src="{{ product.cover_image.url }}"  alt=""> </li>
                  {% for image in product.images.all %}
                  <li data-thumb="{{ image.image.url}}"> <img class="img-responsive" src="{{ image.image.url}}"  alt=""> </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
            
            <!-- COntent -->
            <div class="col-md-5">
              <h4>{{product.title}}</h4>
              {% if product.discount %}
              <span class="price"><small>$</small>{{product.discounted_price}}</span> 
              {% else %}
              <span class="price"><small>$</small>{{product.price}}</span> 
              {% endif %}
              
              <!-- Sale Tags -->
               {% if product.discount %}
              <div class="on-sale"> {{product.discount}}% <span>OFF</span> </div>
                {% endif %}

              <ul class="item-owner">
                <li>Brand:<span> {{ brand.title }}</span></li>
              </ul>
              <!-- Item Detail -->
              <p>{{product.small_description}}</p>
              
              <!-- Short By -->
              <div class="some-info">
                <ul class="row margin-top-30">
                  <li class="col-xs-4">
                    <div class="quinty"> 
                      <!-- QTY -->
                      <!-- Add to Cart Form -->
                      <form method="POST" action="{% url 'order:add_to_cart' product.id %}">
                        {% csrf_token %}
                        <div class="some-info">
                            <ul class="row margin-top-30">
                                <li class="col-xs-4">
                                    <div class="quinty">
                                        {{ add_to_cart_form.quantity.label }}: 
                                        {{ add_to_cart_form.quantity }}
                                    </div>
                                </li>
                                <button style="margin-left: 15px;" type="submit" class="btn">ADD TO CART</button>

                            </ul>
                        </div>
                      </form>

                    </div>
                  </li>
                  
                  <!-- COLORS -->
                  <li class="col-xs-8">
                    <ul class="colors-shop">
                      
                      <li><span class="margin-right-20">Colors</span></li>
                      {% for color in product.color.all %}
                      <li><a href="#." style="background:{{color.hex_code}}"></a></li>       
                      {% endfor %}
                    </ul>
                  </li>
                  
                  <!-- ADD TO CART -->
                  <!-- <li class="col-xs-6"> <a href="{% url 'order:shopping_cart' %}" class="btn">ADD TO CART</a> </li> -->
                  
                  <!-- LIKE -->
                  <!-- <li class="col-xs-6"> <a href="#." class="like-us"><i class="icon-heart"></i></a> </li> -->
                  {% if product.in_favourite %}
                  <li class="col-xs-6"> <a href="{% url 'order:remove_from_fav' product.id %}" class="like-us"><i class="ion-ios-heart"></i></a> </li>
                    {% else %}
                  <li class="col-xs-6"> <a href="{% url 'order:add_to_fav' product.id %}" class="like-us"><i class="icon-heart"></i></a> </li>
                  {% endif %}
                </ul>
            
                
                <!-- INFOMATION -->
                <div class="inner-info">
                  <h6>DELIVERY INFORMATION</h6>
                  <p>{{product.description}}</p>
                  <h6>SHIPPING & RETURNS</h6>
                  <h6>SHARE THIS PRODUCT</h6>
                  
                  <!-- Social Icons -->
                  <ul class="social_icons">
                    <li><a href="#."><i class="icon-social-facebook"></i></a></li>
                    <li><a href="#."><i class="icon-social-twitter"></i></a></li>
                    <li><a href="#."><i class="icon-social-tumblr"></i></a></li>
                    <li><a href="#."><i class="icon-social-youtube"></i></a></li>
                    <li><a href="#."><i class="icon-social-dribbble"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <!--======= PRODUCT DESCRIPTION =========-->
        <div class="item-decribe"> 
          <!-- Nav tabs -->
          <ul class="nav nav-tabs animate fadeInUp" data-wow-delay="0.4s" role="tablist">
            <li role="presentation" class="active"><a href="#descr" role="tab" data-toggle="tab">DESCRIPTION</a></li>
            <li role="presentation"><a href="#review" role="tab" data-toggle="tab">REVIEW (03)</a></li>
          </ul>
          
          <!-- Tab panes -->
          <div class="tab-content animate fadeInUp" data-wow-delay="0.4s"> 
            <!-- DESCRIPTION -->
            <div role="tabpanel" class="tab-pane fade in active" id="descr">
              <p>{{product.description}}<br>
              </p>
              <h6>THE SIMPLE FACTS</h6>
              <ul>
                <li>
                  <p>{{product.base_description}}</p>
                </li>
                
              </ul>
            </div>
            
            <!-- REVIEW -->
            <div role="tabpanel" class="tab-pane fade" id="review">
              <h6>3 REVIEWS FOR SHIP YOUR IDEA</h6>
              
              <!-- REVIEW PEOPLE 1 -->
              {% for review in product.reviews.all %}
              <div class="media">
                <div class="media-left"> 
                  <!--  Image -->
                  <div class="avatar"> <a href="#"> <img class="media-object" src="{{ review.user.get_image }}" alt=""> </a> </div>
                </div>
                <!--  Details -->
                <div class="media-body">       
                <h6>{{review.user.username}} <span class="pull-right">{{review.created_at}}</span> </h6>
                <p class="font-playfair">{{review.message}}</p>
                </div>
              </div>
              {% endfor %}
            
              
              <!-- ADD REVIEW -->
              <h6 class="margin-t-40">ADD REVIEW</h6>
              <form method="post">
                {% csrf_token %}
                <ul class="row">
                  <li class="col-sm-12">
                    <label> *YOUR REVIEW
                       {{ form.message }}
                       {{ form.message.errors  }}
                    </label>
                  </li>
                  <li class="col-sm-6"> 
                    <!-- Rating Stars -->
                    <!-- <div class="stars"> <span>YOUR RATING</span> <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div> -->
                  </li>
                  <li class="col-sm-6">
                    <button type="submit" class="btn btn-dark btn-small pull-right no-margin">POST REVIEW</button>
                  </li>
                </ul>
              </form>
            </div>
            
            <!-- TAGS -->
            <div role="tabpanel" class="tab-pane fade" id="tags"> </div>
          </div>
        </div>
      </div>
    </section>
    
    <!-- Popular Products -->
    <section class="light-gray-bg padding-top-150 padding-bottom-150">
      <div class="container"> 
        
        <!-- Main Heading -->
        <div class="heading text-center">
          <h4>YOU MAY LIKE IT</h4>
          <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec faucibus maximus vehicula. 
          Sed feugiat, tellus vel tristique posuere, diam</span> </div>
        
        <!-- Popular Item Slide -->
        <div class="papular-block block-slide single-img-demos"> 
          {% for product in related_objects %}
          <!-- Item -->
          <div class="item"> 
            <!-- Item img -->
            <div class="item-img"> <img class="img-1" src="{{ product.cover_image.url }}" alt="" > 
              <!-- Overlay -->
              <div class="overlay">
                <div class="position-center-center">
                  <div class="inn"><a href="{% static 'images/product-1.jpg' %}" data-lighter><i class="icon-magnifier"></i></a> <a href="#."><i class="icon-basket"></i></a> <a href="#." ><i class="icon-heart"></i></a></div>
                </div>
              </div>
            </div>
            <!-- Item Name -->
            <div class="item-name"> <a href="{% url 'product:product_detail' slug=product.slug %}">{{product.title}}</a>
              <p>{{product.small_description}}</p>
            </div>
            <!-- Price --> 
            {% if product.discount %}
              <span class="price"><small>$</small>{{product.discounted_price}}</span> 
              {% else %}
              <span class="price"><small>$</small>{{product.price}}</span> 
              {% endif %}
          </div>         
          {% endfor %}
        </div>
      </div>
    </section>
    
  
  
  {% endblock %}