{% extends 'base.html' %}
{% load static %}

  {% block content %}
  
  <!--======= SUB BANNER =========-->
  <section class="sub-bnr" style="background-image: url('{% static 'images/slide-bg-2-1.jpg' %}');" data-stellar-background-ratio="0.5">
    <div class="position-center-center">
      <div class="container">
        <h4>PAVSHOP PRODUCTS</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec faucibus maximus vehicula. 
          Sed feugiat, tellus vel tristique posuere, diam</p>
      </div>
    </div>
  </section>
  
  <!-- Content -->
  <div id="content"> 
    
    <!-- Products -->
    <section class="shop-page padding-top-100 padding-bottom-100">
      <div class="container">
        <div class="row"> 
          
          <!-- Item Content -->
          <div class="col-sm-9">
            <div class="item-display">
              <div class="row"> 
              </div>
            </div>
            
            <!-- Popular Item Slide -->
            <div class="papular-block row single-img-demos"> 
              
              <!-- Item -->
               {% for prod in products %}
              <div class="col-md-4">
                <div class="item"> 
                  <!-- Sale Tags -->
                   {% if prod.discount %}
                  <div class="on-sale"> {{prod.discount}}% <span>OFF</span> </div>
                  {% endif %}
                  <!-- Item img -->
                  
                    <div class="item-img"> <img class="img-1" src="{{prod.cover_image.url}}" alt="" >
                      
                      <!-- Overlay -->
                      <div class="overlay">
                        <div class="position-center-center">
                          <div class="inn">
                            <a href="{{prod.cover_image.url}}" data-lighter>  <i class="icon-magnifier"></i></a> 
                            <a href="{% url 'order:add_to_cart' prod.id %}"><i class="icon-basket"></i></a>
                            {% if prod.in_favourite %}
                              <a href="{% url 'order:remove_from_fav' prod.id %}" ><i class="ion-ios-heart"></i></a></div>
                            {% else %}
                              <a href="{% url 'order:add_to_fav' prod.id %}" ><i class="ion-ios-heart-outline"></i></a></div>
                            {% endif %}
                        </div>
                      </div>
        
                    </div>
                  
                  <!-- Item Name -->
                  <div class="item-name"> <a href="{{ prod.get_absolute_url }}">{{prod.title}}</a>
                    <p>{{prod.small_description}}</p>
                  </div>
                  <!-- Price --> 
                  {% if prod.discount %}
                  <span class="price"><small>$</small>{{prod.discounted_price}}</span> </div>
                  {% else %}
                  <span class="price"><small>$</small>{{prod.price}}</span> </div>
                  {% endif %}
                  
              </div>
              {% endfor %}
            </div>
            
            <!-- Pagination -->
            <ul class="pagination in-center">
              {% if page_obj.has_previous %}
              <li><a href="?page={{ page_obj.previous_page_number }}"><i class="fa fa-angle-left"></i></a></li>
              {% endif %}
              {% for page in  page_obj.paginator.page_range %}
              {% if page is page_obj.number %}
              <li class="active"><a href="#">{{page}}</a></li>
              {% else %}
              <li><a href="?page={{page}}">{{page}}</a></li>
              {% endif %}
              {% endfor %}
              {% if page_obj.has_next %}
              <li><a href="?page={{ page_obj.next_page_number }}"><i class="fa fa-angle-right"></i></a></li>
              {% endif %}
            </ul>
          </div>
          
          <!-- Shop SideBar -->
          <div class="col-sm-3">
            <div class="shop-sidebar"> 
              
              <!-- Category -->
              <h5 class="shop-tittle margin-bottom-30">category</h5>
              <ul class="shop-cate">
                {% for category in categories %}
                <li><a href="{% url 'product:product_list' %}?category={{ category.id }}"> {{ category.title }} <span>{{ category.products.count }}</span></a></li>
                {% endfor %}
              </ul>
              
              <!-- FILTER BY PRICE
              <h5 class="shop-tittle margin-top-60 margin-bottom-30">FILTER BY PRICE</h5>
               -->
              <!-- TAGS -->
              <h5 class="shop-tittle margin-top-60 margin-bottom-30">FILTER BY COLORS</h5>
              <ul class="colors">
                {% for color in colors %}
                <li>
                    <a href="?color={{ color.id }}" style="background: {{ color.hex_code }};" title="{{ color.title }}"></a>
                </li>
                {% endfor %}
              </ul>
              
              <!-- TAGS -->
              <h5 class="shop-tittle margin-top-60 margin-bottom-30">PAUPLAR TAGS</h5>
              <ul class="shop-tags">
                {% for tag in tag_list %}
                    <li><a href="{% url 'product:product_list'%}?tag={{tag.id}}"> {{ tag.title }}</a></li>
                {% endfor %}
              </ul>
              
              <!-- BRAND -->
              <h5 class="shop-tittle margin-top-60 margin-bottom-30">brands</h5>
              <ul class="shop-cate">
                {% for brand in brands %}
                  <li><a href="{% url 'product:product_list' %}?brand_slug={{ brand.slug }}">{{ brand.title }}</a></li>
                {% endfor %}
              </ul>
              
              <!-- SIDE BACR BANER -->
              {% for banner in side_banners %} 
              <div class="side-bnr margin-top-50"> <img class="img-responsive" src="{{ banner.image.url}}" alt="Banner Image">
                <div class="position-center-center"> <span class="price"><small>$</small>200</span>
                  <div class="bnr-text">look
                    hot
                    with
                    style</div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <!-- About -->
    <!-- <section class="small-about padding-top-150 padding-bottom-150">
      <div class="container"> 
         -->
        <!-- Main Heading -->
        <!-- <div class="heading text-center">
          <h4>about PAVSHOP</h4>
          <p>Phasellus lacinia fermentum bibendum. Interdum et malesuada fames ac ante ipsumien lacus, eu posuere odio luctus non. Nulla lacinia,
            eros vel fermentum consectetur, risus purus tempc, et iaculis odio dolor in ex. </p>
        </div> -->
        
        <!-- Social Icons -->
        <!-- <ul class="social_icons">
          <li><a href="#."><i class="icon-social-facebook"></i></a></li>
          <li><a href="#."><i class="icon-social-twitter"></i></a></li>
          <li><a href="#."><i class="icon-social-tumblr"></i></a></li>
          <li><a href="#."><i class="icon-social-youtube"></i></a></li>
          <li><a href="#."><i class="icon-social-dribbble"></i></a></li>
        </ul>
      </div>
    </section>
     -->
    <!-- News Letter -->
    <!-- <section class="news-letter padding-top-150 padding-bottom-150">
      <div class="container">
        <div class="heading light-head text-center margin-bottom-30">
          <h4>NEWSLETTER</h4>
          <span>Phasellus lacinia fermentum bibendum. Interdum et malesuada fames ac ante ipsumien lacus, eu posuere odi </span> </div>
        <form>
          <input type="email" placeholder="Enter your email address" required>
          <button type="submit">SEND ME</button>
        </form>
      </div>
    </section>
  </div> -->
  
  {% endblock %}