{% extends 'base.html' %}
{% load static %}
  {% block content %}
  <!--======= SUB BANNER =========-->
  <section class="sub-bnr" style="background-image: url('{% static 'images/slide-bg-2-1.jpg' %}');" data-stellar-background-ratio="0.5">
    <div class="position-center-center">
      <div class="container">
        <h4>PAVSHOP blog list</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec faucibus maximus vehicula.
          Sed feugiat, tellus vel tristique posuere, diam</p>
        <!-- <ol class="breadcrumb">
          <li><a href="#">Home</a></li>
          <li class="active">BLOG</li>
        </ol> -->
      </div>
    </div>
  </section>
  <!-- Content -->
  <div id="content">
    <!-- Blog List -->
    <section class="blog-list blog-list-3 padding-top-100 padding-bottom-100">
      <div class="container">
        <div class="row">
          <div class="col-md-9">
            {% for blog in blog_list %}
            <!-- Article -->
            <article>
              <div class="row">
                <div class="col-sm-5">
                  <!-- Post Img -->
                  <img class="img-responsive" src="{{blog.image.url}}" alt="" > </div>
                <div class="col-sm-7">
                  <!-- Tittle -->
                  <div class="post-tittle left"> <a href="{{ blog.get_absolute_url }}" class="tittle">{{ blog.title }}</a>
                    <!-- Post Info -->
                    <span><i class="primary-color icon-user"></i> by admin</span> <span><i class="primary-color icon-calendar"></i>{{ blog.created_at | date:"d M Y" }}</span> <span><i class="primary-color icon-bubble"></i> 05</span> <span><i class="primary-color icon-tag"></i> Furniture</span> </div>
                  <!-- Post Content -->
                  <div class="text-left">
                    <p>{{ blog.content | safe |truncatechars:340 }}</p>
                    <a href="{{ blog.get_absolute_url }}" class="red-more">READ MORE</a> </div>
                </div>
              </div>
            </article>
            {% endfor %}
            <!-- Pagination -->
            <ul class="pagination in-center">
              {% if page_obj.has_previous %}
              <li><a href="?page={{ page_obj.previous_page_number }}"><i class="fa fa-angle-left"></i></a></li>
              {% endif %}
              {% for page in  page_obj.paginator.page_range %}
              {% if page is page_obj.number %}
              <li class="active"><a href="#">{{page}}</a></li>
              {% else %}
              <li><a href="?page={{page}}">{{page}}</a></li>
              {% endif %}
              {% endfor %}
              {% if page_obj.has_next %}
              <li><a href="?page={{ page_obj.next_page_number }}"><i class="fa fa-angle-right"></i></a></li>
              {% endif %}
            </ul>
          </div>
          <!-- Sider Bar -->
          <div class="col-md-3">
            <!-- SEARCH -->
            <form action="{% url 'blog:blog_list-us' %}" method="get">
              <div class="search">
                  <input class="form-control" type="search" name="searched" placeholder="Search" value="{{ request.GET.title }}">
                  <button type="submit"><i class="fa fa-search"></i></button>
              </div>
            </form>

              <!-- Category -->
              <h5 class="shop-tittle margin-bottom-30">category</h5>
              <ul class="shop-cate">
                {% for category in categories %}
                    <li><a href="{% url 'blog:blog_list-us' %}?category={{category.id}}"> {{ category.title }} <span>{{ category.blogs.all.count }}</span></a></li>
                {% endfor %}
              </ul>

              <!-- Recent Post -->
              <h5 class="shop-tittle margin-top-60 margin-bottom-30">recent post</h5>
              <ul class="papu-post margin-top-20">
                {% for blog in latest_blogs %}
                <li class="media">
                  <div class="media-left"> <a href="{% url 'blog:blog_detail-us' blog.slug %}"> <img class="media-object" src="{{ blog.image.url }}" alt=""></a> </div>
                  <div class="media-body"> <a class="media-heading" href="{% url 'blog:blog_detail-us' blog.id %}">{{blog.title}}</a> <span>Posted on {{ blog.created_at | date:"M Y" }}</span> </div>
                </li>
                {% endfor %}
              </ul>

              <!-- TAGS -->
              <h5 class="shop-tittle margin-top-60 margin-bottom-30">PAUPLAR TAGS</h5>
              <ul class="shop-tags">
                {% for tag in tag_list %}
                    <li><a href="{% url 'blog:blog_list-us' %}?tag={{tag.id}}"> {{ tag.title }}</a></li>
                {% endfor %}
              </ul>

              <!-- BRAND -->
              <!-- <h5 class="shop-tittle margin-top-60 margin-bottom-30">archives</h5>
              <ul class="shop-cate">
                <li><a href="#."> January 2015 </a></li>
                <li><a href="#."> February 2015 </a></li>
                <li><a href="#."> March 2015 </a></li>
                <li><a href="#."> April 2015 </a></li>
                <li><a href="#."> May 2015 </a></li> -->
              </ul>
              <!-- SIDE BACR BANER -->
              {% for banner in side_banners %}
              <div class="side-bnr margin-top-50"> <img class="img-responsive" src="{{ banner.image.url }}" alt="Banner Image">
                <div class="position-center-center"> <span class="price"><small>$</small>200</span>
                  <div class="bnr-text">look
                    hot
                    with
                    style</div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Culture BLOCK -->
    <section class="cultur-block">
      <ul>
          {% for block in culture_blocks %}
              <li><img src="{{ block.image.url }}" alt="Culture Image"></li>
          {% endfor %}
      </ul>
      <!-- Culture Text -->
      <div class="position-center-center">
        <div class="container">
          <div class="col-sm-6 center-block">
            <h4>FOLLOW US @ INSTAGRAM</h4>
            <p>Phasellus lacinia fermentutm bibendum. Interdum et malante ipuctus non. Nulla lacinia,
              eros vel fermentum consectetur, ris dolor in ex. </p>
          </div>
        </div>
      </div>
    </section>
    
  {% endblock %}