{% extends 'base.html' %}
{% load static %}

  {% block content %}
  
  <!--======= SUB BANNER =========-->
  <section class="sub-bnr" data-stellar-background-ratio="0.5" style="background:url({% static 'photo/photo17.jpg' %}) center center no-repeat">
    <div class="position-center-center">
      <div class="container">
        <h4>CHECKOUT</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec faucibus maximus vehicula. 
          Sed feugiat, tellus vel tristique posuere, diam</p>
        <!-- <ol class="breadcrumb">
          <li><a href="#">Home</a></li>
          <li><a href="#">SHOP</a></li>
          <li class="active">CHECKOUT</li>
        </ol> -->
      </div>
    </div>
  </section>
  
  <!-- Content -->
  <div id="content"> 
    
    <!--======= PAGES INNER =========-->
    <section class="chart-page padding-top-100 padding-bottom-100">
      <div class="container"> 
        
        <!-- Payments Steps -->
        <div class="shopping-cart"> 
          
          <!-- SHOPPING INFORMATION -->
          <div class="cart-ship-info">
            <div class="row"> 
              
              <!-- ESTIMATE SHIPPING & TAX -->
              <div class="col-sm-7">
                <h6>BILLING DETAILS</h6>
                <form method="post">
                  {% csrf_token %}
                  <ul class="row">
                    
                    <!-- Name -->
                    <li class="col-md-6">
                      <label> 
                        {{ form.first_name }}
                        {{ form.first_name.errors }}
                        <!-- <input type="text" name="first-name" value="" placeholder=""> -->
                      </label>
                    </li>
                    <!-- LAST NAME -->
                    <li class="col-md-6">
                      <label>
                        {{ form.last_name }} 
                        {{ form.last_name.errors }}
                        <!-- <input type="text" name="last-name" value="" placeholder=""> -->
                      </label>
                    </li>
                    <li class="col-md-6"> 
                      <!-- COMPANY NAME -->
                      <label>
                        {{ form.company_name }}
                        {{ form.company_name.errors }}
                        <!-- <input type="text" name="company" value="" placeholder=""> -->
                      </label>
                    </li>
                    <li class="col-md-6"> 
                      <!-- ADDRESS -->
                      <label>
                        {{ form.address }}
                        {{ form.address.errors }}
                        <!-- <input type="text" name="address" value="" placeholder=""> -->
                      </label>
                    </li>
                    <!-- TOWN/CITY -->
                    <li class="col-md-6">
                      <label>
                        {{ form.city }}
                        {{ form.city.errors }}
                        <!-- <input type="text" name="town" value="" placeholder=""> -->
                      </label>
                    </li>
                    
                    <!-- COUNTRY -->
                    <li class="col-md-6">
                      <label>
                        {{ form.country }}
                        {{ form.country.errors }}
                        <!-- <input type="text" name="contry-state" value="" placeholder=""> -->
                      </label>
                    </li>
                    
                    <!-- EMAIL ADDRESS -->
                    <li class="col-md-6">
                      <label>
                        {{ form.email }}
                        {{ form.email.errors }}
                        <!-- <input type="text" name="contry-state" value="" placeholder=""> -->
                      </label>
                    </li>
                    <!-- PHONE -->
                    <li class="col-md-6">
                      <label> 
                        {{ form.phone }}
                        {{ form.phone.errors }}
                        <!-- <input type="text" name="postal-code" value="" placeholder=""> -->
                      </label>
                    </li>
                    
                    <!-- PHONE -->
                    <!-- <li class="col-md-6">
                      <button type="submit" class="btn">continue</button>
                    </li> -->
                    
                    
                    <!-- PHONE -->
                    <li class="col-md-6">
                      <button type="submit" class="btn">SUBMIT</button>
                    </li>
                  </ul>
                </form>
              </div>
              
              <!-- SUB TOTAL -->
              <div class="col-sm-5">
                <h6>YOUR ORDER</h6>
                <div class="order-place">
                  <div class="order-detail">
                    {% for item in cart_items %}
                    {% if item.product.discount %}
                    <p>{{ item.product.title }} <span>${{ item.get_total_price }} </span></p>
                    {% else %}
                    <p>{{ item.product.title }} <span>${{ item.get_total_price }} </span></p>
                    {% endif %}
                    {% endfor %}
                    
                    <!-- SUB TOTAL -->
                    <p class="all-total">TOTAL COST <span> ${{ total_price }}</span></p>
                  </div>
                  <div class="pay-meth">
                    <ul>
                      <li>
                        <div class="radio">
                          <input type="radio" name="radio1" id="radio1" value="option1" checked>
                          <label for="radio1"> DIRECT BANK TRANSFER </label>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam erat turpis, pellentesque non leo eget, pulvinar pretium arcu. Mauris porta elit non.</p>
                      </li>
                      <li>
                        <div class="radio">
                          <input type="radio" name="radio1" id="radio2" value="option2">
                          <label for="radio2"> CASH ON DELIVERY</label>
                        </div>
                      </li>
                      <li>
                        <div class="radio">
                          <input type="radio" name="radio1" id="radio3" value="option3">
                          <label for="radio3"> CHEQUE PAYMENT </label>
                        </div>
                      </li>
                      <li>
                        <div class="radio">
                          <input type="radio" name="radio1" id="radio4" value="option4">
                          <label for="radio4"> PAYPAL </label>
                        </div>
                      </li>
                      <li>
                        <div class="checkbox">
                          <input id="checkbox3-4" class="styled" type="checkbox">
                          <label for="checkbox3-4"> I’VE READ AND ACCEPT THE <span class="color"> TERMS & CONDITIONS </span> </label>
                        </div>
                      </li>
                    </ul>
                    <a href="#." class="btn  btn-dark pull-right margin-top-30">PLACE ORDER</a> </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
  

  {% endblock %}
  